*{ margin: 0px; padding: 0px; box-sizing: border-box; }
body{
  width: 100%;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(0, 0, 0, 0.02);
}
input{
  padding: 0px 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  outline: none;
}